{% extends "base.html" %}

{% block body %}
<div id="startScreen" class="screen active">
<h2>👋 Hi, I'm Yujia Liu!</h2>
<br>
<p>
Welcome to my "FairHire.com" for ethical dilemmas in AI-driven recruitment. This website introduces the ethical dilemmas in AI-powered recruitment systems. These tools promise faster and more efficient recruitment but raise serious concerns about fairness, privacy, equity, autonomy, security, trust, and innovation.
</p>
<br>
<p>
    AI recruitment systems make decisions based on patterns in data, which can unintentionally reinforce bias or exclude human judgment. The ethical dilemma lies in balancing efficiency of this technology with companies' responsibility, ensuring that this emerging technology serves people without sacrificing fairness or other human rights, such as privacy, freedom of expression, self-representation, and so on.
</p>
<br>
<p>
    This dilemma directly influences recruiters, HR professionals, and hiring decision-makers because the systems they choose and the decisions they make with AI tools shape who gets hired, how candidates are judged, and how fair and inclusive their hiring process really is. Over-relying on efficiency can risk overlooking talent, excluding marginalized groups, and damaging an organization’s reputation. By understanding these ethical dilemmas and frameworks, users can make more thoughtful, fair, and responsible recruitment choices.
</p>
<br>
<p>
    This website invites users(recruiters) to explore these challenges through an interactive ethical maze, connecting their decisions to the ethical frameworks of Justice as Fairness and Deontology, and helping them reflect on the hidden values and risks embedded in AI recruitment tools.
</p>
</div>
{% endblock %}