{% extends "base.html" %}

{% block body %}
<div id="startScreen" class="screen active">
    <h2>How AI is Used in Hiring</h2>
    <br>
    <p>
    Given the many advantages AI offers recruitment teams and applicants, it's not surprising that many organizations have begun using it. According to the Society for Human Resource Management (SHRM), 79% of organizations use automation or AI in recruitment.
    </p>
    <br>
    <img src="/static/ai.jpg" style="height: 300px; width:500px" alt="AI">
    <br><br>
    <p>
    Though many new AI capabilities remain in development, companies already use AI to perform the following activities:
    <ul>
    <li>Creating job descriptions that highlight position responsibilities and requirements effectively</li>
    <li>Optimizing recruitment marketing activities, for example, via programmatic job advertising</li>
    <li>Screening and sorting candidate applications and resumes</li>
    <li>Answering candidate questions and providing helpful recruitment information via chatbots</li>
    <li>Providing candidates with timely feedback and personalized updates</li>
    </ul>
    <p>
    <span>Tip:</span>  
    Chatbot technology isn't just for candidate-facing communication. It can also deliver real-time data insights to recruitment professionals. Recruitics' AI-powered chatbot analyst, Brion, integrates millions of internal and external market data points into a single conversational analytics solution for recruitment teams.</li>
    </p>
    </p>    
    <br>
    <p style="text-align: right;">(source: recruitics.com)</p>
</div>
{% endblock %}
