{% extends "base.html" %}

{% block body %}
<div id="startScreen" class="screen active">
    <h2>Strategies for Responsible AI Use in Hiring</h2>
    <p>
        AI-powered facial recognition platforms, chatbots, and applicant screening tools may only be scratching the surface of the full capability of AI. To realize its many benefits while also managing the potential legal and ethical risks, talent acquisition teams can take the following actions:
    </P>
    <h3>Utilize Diverse and Unbiased Training Data</h3>
    <p>
        Although past applicants and hires can sometimes predict which future candidates will be a good fit, that's not always the case. Therefore, it's critical to incorporate diverse data inputs when training AI models for candidate sourcing, screening, and engagement. Doing so will help to prevent algorithmic bias and keep the organization from missing out on high-quality candidates. 
    </p>
    <h3>Conduct Regular Audits of AI Systems</h3>
    <p>
        One of the benefits of AI tools is that they can "learn" and improve over time. Regular audits provide an opportunity to review data inputs, correct bias, and align AI systems with organizational hiring and diversity objectives. The audit process may include a closer look at any of the following:
        <ul>
            <li>Over or underrepresentation of specific groups or demographics in candidate sourcing and screening data</li>
            <li>Erroneous collection of irrelevant candidate data and personal details</li>
            <li>Compliance with evolving federal, state, and local laws</li>
        </ul>
    </p>
    <h3>Establish Ethical Guidelines</h3>
    <p>
        Defining how and when AI is used within the hiring process is critical to avoid misunderstandings and inconsistencies. Ethical guidelines should cover AI systems' specific functions and be fully accessible to recruitment team members. Guidelines and policies may include: 
        <ul>
            <li>Organizational goals related to the ethical use of AI in recruitment</li>
            <li>How often the organization audits its AI systems</li>
            <li>Steps for informing candidates about how AI is used in candidate screening and assessment</li>
        </ul>
    </p>
    <h3>Balance AI with Human Judgment and Expertise</h3>
    <p>
        To be most effective, AI should enhance human processes and decision-making, not replace them. By ensuring recruitment professionals understand their role relative to AI, organizations can ensure AI tools don't play an outsized role in hiring. Neither human judgment nor AI are flawless, but both can be more effective when they work together.
    </p>
</div>
{% endblock %}